# Default owners
* @AnerGroup1/backend-team

# Documentation
/docs/ @AnerGroup1/platform-team

# Infrastructure
/terraform/ @AnerGroup1/devops-team

# GitHub configuration
/.github/ @AnerGroup1/platform-team